{% extends "left_right.html" %}
{% load i18n %}


{% block zorna_extrahead %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/syronex-colorpicker.css" />
<script type="text/javascript">var media_url = "{{MEDIA_URL}}"; var page_media_url = "{{MEDIA_URL}}";</script>
<script type="text/javascript" src="{{ CKEDITOR_MEDIA_PREFIX }}ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/syronex-colorpicker.js"></script>
{% endblock %}


{% block zorna_left_content %}
<script type="text/javascript">
<!--
jQuery(document).ready(function() {
  $('#divcolor').colorPicker({      
    click: function(color){$('#id_bgcolor').val(color);} 
  });  
});
-->
</script>

<div class="bloc">
  {% if curcategory %}
  <h1>{% trans "Update category" %}:&nbsp;{{ curcategory.name }}</h1>
  {% else %}
  <h1>{% trans "Add new category" %}</h1>
  {% endif %}
<form action="" method="post">{% csrf_token %}
  <fieldset class="module aligned">
  {% for field in form %}
  <div class="form-row">
    <div>
		{% if field.errors %}
		<ul class="errorlist">
  		{% for error in field.errors %}
    		<li>{{ error }}</li>
  		{% endfor %}
  		</ul>
  		{% endif %}
      {{ field.label_tag }}{{ field }}
      {% if forloop.last %}
        <div id="divcolor"></div>
      {% endif %}
    </div>
  </div>  
  {% endfor %}
  </fieldset>
<input type="submit" value="Submit" />
</form>
</div>
{% endblock %}


{% block zorna_right_content %}
{% include "site/admin_right_menu.html" %}
{% endblock %}
