{% extends "left_right.html" %}
{% load i18n %}


{% block zorna_left_content %}
<div class="zbloc">
  <h1>{% trans "Update calendar settings" %}:&nbsp;{{ calendar.calendar.name }}</h1>
<form action="" method="post">{% csrf_token %}
  <fieldset class="module aligned">
	  {% for field in form %}
	  <div class="form-row">
	    <div>
	  		<table>
	  			<tr>
	  				<td>
						<span class="{%if field.field.required %}required{% endif%}">
				      		{{ field.label_tag }}
				      	</span>
	  				</td>
	  				<td>
						{% if field.errors %}
			  			<ul class="errorlist">
			      		{% for error in field.errors %}
			        		<li>{{ error }}</li>
			      		{% endfor %}
			      		</ul>
			      		{% endif %}
			      		{% if field.help_text %}
				  		{{ field.help_text }}
			      		<br />
			      		{% endif %}
					  {{ field }}
	  				</td>
	  			</tr>
	  		</table>       	
	    </div>
	  </div> 
	  {% endfor %}
  </fieldset>
<input type="submit" name="bsave" value="{% trans "Save" %}" />
</form>
</div>
{% endblock %}

{% block zorna_right_content %}
{% include "calendars/settings_right_menu.html" %}
{% endblock %}
