{% load i18n %}
{% load accounts_tags %}

<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery.autocomplete.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery.timeentry.min.js"></script>
<script type="text/javascript">
{% json_list_users %}
$(document).ready(function() {
	$(".zorna_user").autocomplete(users_list,
			{ 
			dataType: "json",
            parse: function(data) {
                return $.map(data, function(row) {
                    return { data:row, value:row[1], result:row[0] };
                });
			}
			}).result(
	                function(e, data, value) {
	                	var el = $(this).attr('id')+'-id';
	                    $("#"+el).val(data[1]);
	                }
	            );

	$(".datetimefield").each(function(i){
  		var id = $(this).attr('id');
 		if(id.charAt(id.length-1) == '0')
  	    	$(this).datepicker();
  	    else
	    	$(this).timeEntry(tmOptions);
	});
	$(".datefield").each(function(i){
  	    $(this).datepicker();
	});	
  $("#bdelete").click(function (){
	var x=window.confirm("{% trans "Are you sur you want to delete this entry" %}");
	return x;
  });
});
</script>