{% extends "left_right.html" %}
{% load i18n %}
{% load acl_tags %}


{% block zorna_extrahead %}
<script type="text/javascript">var media_url = "{{MEDIA_URL}}"; var page_media_url = "{{MEDIA_URL}}";</script>
{% endblock %}


{% block zorna_left_content %}
<div class="bloc">
  <h1>{% trans "Forms workspaces" %} </h1>
<table id="category-table-dnd">
  <thead>
    <tr>
    <th></th>
    <th>{% trans "Workspaces" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for workspace in workspace_list %}
    <tr>
    <td width="1%"><a href="{% acl_groups_object_url workspace %}?next={% url list_workspaces %}" title="{% trans "Click to edit rights" %}"><img src="{{ MEDIA_URL }}images/access.png" /></a></td>
    <td><a href="{% url admin_edit_workspace workspace.pk%}" title="{% trans "Click to edit workspace" %}">{{workspace.name}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block zorna_right_content %}
{% include "forms/admin_right_menu.html" %}
{% endblock %}

