{% extends "iframe_base.html" %}
{% load i18n %}

{% block iframe_extrahead %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/forms.css" />
{% endblock %}


{% block iframe_content %}
<div class="zbloc">
<script type="text/javascript">
$(document).ready(function() {
	parent.updatePathForms("{{forms_path|escapejs}}");
});
</script>			
<form id="form_edit_field" action="" method="post">{% csrf_token %}
  <fieldset class="module aligned">
  {% for field in form %}
  <div class="form-row">
    <div>
  		<table>
  			<tr>
  				<td>
			      {{ field.label_tag }}
  				</td>
  				<td>
					{% if field.errors %}
		  			<ul class="errorlist">
		      		{% for error in field.errors %}
		        		<li>{{ error }}</li>
		      		{% endfor %}
		      		</ul>
		      		{% endif %}
				  {{ field }}
  				</td>
  			</tr>
  		</table>       	
    </div>
  </div>  
  {% endfor %}
  </fieldset>
<input type="submit" value="{% trans "Save" %}" />
</form>
</div>
{% endblock %}
