{% load i18n %}
<div style= "font: bold 14px Tahoma, Verdana, sans-serif; color:#336699">
	{% trans "Hi" %}, </div>
<br>
<table cellspacing= "0" cellpadding= "0" >
<tr>
<td width= "10">&nbsp;</td>
<td style= "font:11px tahoma,verdana,sans-serif" align= "left">
{% if upload %}{% trans "A new file(s) has been uploaded in folder" %}{% else %}{% trans "File has been updated in folder" %}{% endif %} <strong>{{folder.name}}</strong> {% trans "by"%} {{user.get_full_name}}:<br /><br />
{% for file in files %}
<strong>{{file.name}}</strong> ({{file.description}})<br /><br />
{% endfor%}
{% trans "To access folder content, click on the button below " %}. <br /><br />
<span style= "background:#81b747;height:15px;width:148px;font-size:12px;text-align:center;display:block;padding:4px 0px;border:1px solid white;">
<a id= "btn" href= "{{url}}" target= "_blank" style= "display:block;height:100%;width:148px;color:white;text-decoration:none;font-size:12px;min-height:0%;font-family:tahoma;font-weight:bolder;">
	&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Go to folder" %}&nbsp;&nbsp;&nbsp;&nbsp;
</a>
</span>
</td>
</tr>
</table>
