{% extends "left_right.html" %}
{% load i18n %}


{% block zorna_extrahead %}
<script type="text/javascript">var media_url = "{{MEDIA_URL}}"; var page_media_url = "{{MEDIA_URL}}";</script>
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery.tablednd_0_5.js"></script>
{% endblock %}


{% block zorna_left_content %}
<script type="text/javascript">
<!--
jQuery(document).ready(function()
{
  $("#id_name").keyup(function() { $("#id_slug").val(string_to_slug($("#id_name").val())); });
  
  $("#category-table-dnd").tableDnD({
    dragHandle: "dragHandle",
	onDrop: function(table, row) {
		// grab the table's rows into an array
		var a_rows = table.tBodies[0].rows;
		// establish list variable
		var childs_ids = '';
		for (var i=0; i<a_rows.length; i++) {
			// Add ID of each video
			childs_ids += a_rows[i].id + '';
			// Create comma delimited list for Save
			if(i!=a_rows.length-1) childs_ids += ',';
		}
		// Move to hidden form field (list) for submission to database
		$('#childs_ids').val(childs_ids);
	}    
  });
  $("#category-table-dnd tr").hover(function() {
          $(this.cells[0]).addClass('showDragHandle');
    }, function() {
          $(this.cells[0]).removeClass('showDragHandle');
  });
});
-->
</script>
<div class="bloc">
  {% if curitem %}
  <h1>{% trans "Update item menu" %}:&nbsp;{{ curitem.name }}</h1>
  {% else %}
  <h1>{{title}}</h1>
  {% endif %}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
  <fieldset class="module aligned">
  {% for field in form %}
  <div class="form-row">
    <div>
		{% if field.errors %}
		<ul class="errorlist">
  		{% for error in field.errors %}
    		<li>{{ error }}</li>
  		{% endfor %}
  		</ul>
  		{% endif %}
      <span class="{%if field.field.required %}required{% endif%}">
            {{ field.label_tag }}
          </span>
          {% if field.help_text %}
        {{ field.help_text }}
          <br />
          {% endif %}
      {{ field }}
    </div>
  </div>
  {% endfor %}
  </fieldset>
 {% if curitem and not curitem.is_leaf_node %}
 <input type="hidden" id="childs_ids" name="childs_ids" value="" />
 <table id="category-table-dnd">
  <thead>
    <tr>
    <th></th>
    <th>{% trans "Childs" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for child in curitem.get_children %}
    <tr id="{{child.pk}}">
     <td  width="1%" class="dragHandle">&nbsp;</td>
    <td><a href="#">{{child.name}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>	
 {% endif %}
<input type="submit" id="bsave" value="{% trans "Save" %}" />{% if curitem %}&nbsp;<input type="submit" name="bdelete" value="{% trans "Delete"%}" />{%endif%}
</form>
</div>
{% endblock %}


{% block zorna_right_content %}
{% include "menus/right_menu.html" %}
{% endblock %}
