{% load i18n %}

<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery.form.js"></script>
<script type="text/javascript">
	var ckinstances = CKEDITOR.instances;
	for(k in  ckinstances) {
		if (ckinstances[k]) { ckinstances[k].destroy(true); }
	}
$('#submitform').submit(function(){
	try {
		for ( instance in CKEDITOR.instances ) {
	    	CKEDITOR.instances[instance].updateElement();
		}
	} catch(err) {
		var editor = false;
	}
			
	$(this).ajaxSubmit({
		dataType: 'json',
		success: function(data) {
			if (data == null  | data == ""){
				window.location.href = window.location.href
			}
		}
	});
	return false;
});	

$("#btn-update").click(function(){
	$('#submitform').submit();
	return false;
});
</script>

<h2 id="popuptitle">{% trans "Update" %}</h2>
<div id="popupform">
<form id="submitform" action="{{action}}" method="post">{% csrf_token %}
{{form_extra}}
	<fieldset>
	<input id="btn-update" class="button" type="submit" value="{% trans "Update" %}" />
	</fieldset>
</form>
<div class="clear"></div>
</div>