{% load i18n %}

<script type="text/javascript" src="{{ MEDIA_URL }}javascript/jquery.form.js"></script>
<script type="text/javascript">
	$('#submitform').ajaxForm({
		target: '#facebox .content',
		success: function(data) {
			if (data == ''){
				window.location.href = window.location.href
			}
		}
		
	});
</script>

<h2 id="popuptitle">{% trans "Update" %}</h2>
<div id="popupform">
<form id="submitform" action="{{action}}" method="post">{% csrf_token %}
{{form_extra}}
	<fieldset>
	<input class="button" type="submit" value="{% trans "Update" %}" />
	</fieldset>
</form>
<div class="clear"></div>
</div>