{% extends "communities/home_base.html" %}
{% load i18n %}
{% load accounts_tags %}

{% block main_actions %}
{% if current_community.member %}
<ul id="com_actions_menu">
	<li>
		<span>{% trans "Actions" %}...</span>
		<ul>
		<li><a href="#">{% trans "Manage members" %}</a></li>
		<li><a href="#">{% trans "Manage managers" %}</a></li>
		<li><a href="#" rel="facebox">{% trans "Invite..." %}</a></li>
		</ul>
	</li>
</ul>				
{% endif %}
{% endblock %}

{% block main_content %}
<div id="community_title" class="community_title">
  <h1>{{community_title}}</h1>
</div>
<div id="msg_wrapper">
	<div class="page-selector">
		<a {% if page == "" %}class="this-page"{%endif%} href="{{request.get_full_path}}&page=">{% trans "All" %}</a>
		{% for p in "abcdefghijklmnopqrstuvwxyz" %}
		<a {% if p == page %}class="this-page"{%endif%} href="{{request.get_full_path}}&page={{p}}">{{p}}</a>
		{% endfor %}
	</div>
	<table>
	  {% for member in com_members %}
		{% if forloop.counter0|divisibleby:"4" %}
		<tr>
		{% endif %}
		<td>
    <div id="msg_container-{{member.pk}}" msgid="{{member.pk}}" class="msg_container">
    <a href="{% url communities_home_page%}?all_msg=all&from_id={{member.pk}}">	
    {% if member.avatar_user %}
      <img src="/{{ member.avatar_user.avatar|thumbnail:"42x42" }}" class="avatar"/>
    {% else %}
      <img src="{{ MEDIA_URL }}images/unknown.jpg" class="avatar"/>
    {% endif %}
    </a>
    <div id="member_entry-{{member.pk}}" class="msg_entry">
			{{member.get_full_name}}
      <div class="msg_entry_footer">
        <ul>
          <li><a href="mailto:{{member.email}}">{% trans "Send email" %}</a></li>
        </ul>
        <div id="member_entry_wait_{{member.pk}}" class="msg_entry_reply_wait">
          <img src="{{ MEDIA_URL }}images/ajax_wait.gif" class="ajax_wait"/>
        </div>
      </div>
	</div>
	</div>
		</td>
		{% if forloop.counter|divisibleby:"4" %}
		<tr>
		{% endif %}
  {% endfor %}
	</table>
</div>
{% endblock %}
