{% extends "left_right.html" %}
{% load i18n %}


{% block zorna_extrahead %}
<script type="text/javascript">var media_url = "{{MEDIA_URL}}"; var page_media_url = "{{MEDIA_URL}}";</script>
{% endblock %}


{% block zorna_left_content %}
<div class="bloc">
  <h1>{% trans "Stories" %}</h1>  
  <div>
    <form id="forms-search" action="" method="get">
      <label for="searchbar">
        <img alt="" src="{{ MEDIA_URL }}images/icon_search.gif" />
      </label>
      <input id="searchbar" type="text" value="{{q}}" name="q" size="40"/>
      <input type="submit" value="{% trans "Search"%}">
    </form>
  </div>
<table id="story-table-dnd">
  <thead>
    <tr>
    <th></th>
    <th>{% trans "Title" %}</th>
    <th>{% trans "Created on" %}</th>
    <th>{% trans "Updated on" %}</th>
    </tr>
  </thead>
  <tbody>
    {% if stories_list %}
    {% for story in stories_list %}
    <tr>
    <td>
    	<img src="{{ MEDIA_URL }}images/icons/{% if story.categories__count %}mini-check.gif{%else%}mini-uncheck.gif{%endif%}" title="{% blocktrans count counter=story.categories__count %}Published on one category{% plural %}Published on {{counter}} categories{% endblocktrans %}"/>
    	</td>
    <td><a href="{% url edit_story story.pk %}" title="{% trans "Click to edit item" %}">{{story.title}}</a></td>
    <td>{{story.time_created|date:"SHORT_DATETIME_FORMAT"}}<br />{{story.owner.get_full_name}}</td>
    <td>{% if story.modifier %}{{story.time_updated|date:"SHORT_DATETIME_FORMAT"}}<br />{{story.modifier.get_full_name}}{% endif %}</td>
    </tr>
    {% endfor %}
    {% endif %}
  </tbody>
</table>

</div>
{% endblock %}

{% block zorna_right_content %}
{% include "articles/publication_right_menu.html" %}
{% endblock %}

